{% extends "layout/base.html" %}
{% load static %}

{% block title %}Product List{% endblock %}

{% block content %}
<div class="page-header text-center" style="background-image: url('{% static 'images/page-header-bg.jpg' %}')">
    <div class="container">
        <h1 class="page-title">Shop<span>4 Columns</span></h1>
    </div>
</div>
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'shared:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'products:product_list' %}">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Grid 4 Columns</li>
        </ol>
    </div>
</nav>

<div class="page-content">
    <div class="container">
        <div class="toolbox">
            <div class="toolbox-left">
                <div class="toolbox-info">Showing <span>12 of 56</span> Products</div>
            </div>
        </div>
        <div class="products mb-3">
            <div class="row justify-content-center">
                <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <a href="{% url 'products:product_detail' 1 %}">
                                <img src="{% static 'images/demos/demo-2/products/product-1-1.jpg' %}" alt="Product image" class="product-image">
                            </a>
                        </figure>
                        <div class="product-body">
                            <h3 class="product-title"><a href="{% url 'products:product_detail' 1 %}">Octo 4240</a></h3>
                            <div class="product-price">$746.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <a href="{% url 'products:product_detail' 2 %}">
                                <img src="{% static 'images/demos/demo-2/products/product-2-1.jpg' %}" alt="Product image" class="product-image">
                            </a>
                        </figure>
                        <div class="product-body">
                            <h3 class="product-title"><a href="{% url 'products:product_detail' 2 %}">Pendant Lamp</a></h3>
                            <div class="product-price">$350.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
