{% extends "layout/base.html" %}
{% load static %}

{% block title %}Product Detail{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container d-flex align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'shared:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'products:product_list' %}">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product {{ product_id }}</li>
        </ol>
    </div>
</nav>
<div class="page-content">
    <div class="container">
        <div class="product-details-top">
            <div class="row">
                <div class="col-md-6">
                    <figure class="product-main-image">
                        <img src="{% static 'images/products/single/1-big.jpg' %}" alt="product image" class="img-fluid">
                    </figure>
                </div>
                <div class="col-md-6">
                    <div class="product-details">
                        <h1 class="product-title">Dark yellow lace cut out swing dress</h1>
                        <div class="product-price">$84.00</div>
                        <div class="product-content">
                            <p>Sed egestas, ante et vulputate volutpat, eros semper est, vitae luctus metus libero eu augue.</p>
                        </div>
                        <div class="product-details-action">
                            <a href="{% url 'shared:cart' %}" class="btn-product btn-cart"><span>add to cart</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
