{% extends "base.html" %}
{% load static %}

{% block title %}Products{% endblock %}

{% block content %}
<h1>Product Categories</h1>
<div class="row g-4">
    <div class="col-md-4">
        <img class="img-fluid" src="{% static 'images/products/product-1.jpg' %}" alt="Product 1">
        <h2 class="h5 mt-2">Product One</h2>
        <a href="{% url 'products:product_detail' id=1 %}">View product</a>
    </div>
    <div class="col-md-4">
        <img class="img-fluid" src="{% static 'images/products/product-2.jpg' %}" alt="Product 2">
        <h2 class="h5 mt-2">Product Two</h2>
        <a href="{% url 'products:product_detail' id=2 %}">View product</a>
    </div>
</div>
{% endblock %}
