{% extends "layout/base.html" %}
{% load static %}

{% block title %}Blog List{% endblock %}

{% block content %}
<div class="page-header text-center" style="background-image: url('{% static 'images/page-header-bg.jpg' %}')">
    <div class="container">
        <h1 class="page-title">Blog Classic</h1>
    </div>
</div>
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'shared:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
        </ol>
    </div>
</nav>
<div class="page-content">
    <div class="container">
        <div class="entry-container max-col-2">
            <article class="entry entry-grid">
                <figure class="entry-media">
                    <a href="{% url 'blogs:blog_detail' 'welcome-post' %}">
                        <img src="{% static 'images/blog/grid/1.jpg' %}" alt="image desc">
                    </a>
                </figure>
                <div class="entry-body">
                    <div class="entry-meta"><a href="#">Nov 22, 2024</a>, 0 Comments</div>
                    <h2 class="entry-title"><a href="{% url 'blogs:blog_detail' 'welcome-post' %}">Welcome to our Molla-based Django shop</a></h2>
                    <div class="entry-content"><p>Integer aliquet, orci in bibendum luctus, turpis ante pretium velit, eu rutrum augue erat ac eros.</p></div>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}
