{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<form>
    <div class="mb-3"><label>Name</label><input class="form-control" type="text"></div>
    <div class="mb-3"><label>Email</label><input class="form-control" type="email"></div>
    <div class="mb-3"><label>Password</label><input class="form-control" type="password"></div>
    <button class="btn btn-primary" type="submit">Create account</button>
</form>
{% endblock %}
