{% load static %}
{# Legacy layout partial retained intentionally; use templates/base.html instead. #}
<!-- Plugins JS -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/superfish.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>